<%-include("header")-%>
    <div class="right "><h1 class="homeHeader"><marquee scrollamount="20" behavior="alternate" direction="">Alfaaz Club Welcomes You</marquee></h1>
        <div class="content">
            <h3>About Arturo Club</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, dolorem laboriosam cum debitis molestias autem doloribus dolore veniam ad odio. Fugit, autem dolorum? Blanditiis modi at dolorem amet numquam consequuntur.
            </p>
            <%posts.forEach(function(post){%>
                <div class="post">
                    <div class="heading">
                        <h2><%=post.title%></h2>
                        <span>#<%=post.time%></span>
                    </div>
                    <p><%=post.item%></p>
                    <div class="name">~ <%=post.name%></div>
                </div>
            <%})%> 
        </div>
        <a href="alfaaz/alfaazUpload" class="btn">Upload Your Content</a>
    </div>

<%-include("footer")-%>
