<%-include("header")-%>
    <div class="right"><h1><marquee behavior="alternate" direction="">Alfaaz Club Welcomes You</marquee></h1>
        <div class="content">
            <h3>About Arturo Club</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, dolorem laboriosam cum debitis molestias autem doloribus dolore veniam ad odio. Fugit, autem dolorum? Blanditiis modi at dolorem amet numquam consequuntur.
            </p>
            <%posts.forEach(function(post){%>
                <div class="post">
                    <div class="heading">
                        <h2><%=post.title%></h2>
                        <h3><span>#</span><%=post.time%></h3>
                    </div>
                    <p><%=post.item%></p>
                    <span><%=post.name%></span>
                </div>
            <%})%>
        </div>
    </div>

<%-include("footer")-%>