<%-include("header")-%>
    <div class="right">
        <h1 class="homeHeader">
            <img src="/logo/arturo.png" alt="" style="border: 2px solid white;">
            Welcome to IIT ROPAR
            <div class="login" >
                <a href="/login">Login/Register</a> 
            </div>
        </h1>
        <div class="content">
            <h3>About Arturo Club</h3>
            <p>
                Are you photoholic?
                Let your network know your talent by uploading the photo clicked by you whether of our beautiful campus or the nature or your creativity.
                The Arturo Club of IIT Ropar invites entries in this regard.
                A photo can express more than a million word paragraph.
            </p>
            <%posts.forEach(function(post){%>
                <div class="post">
                    <div class="heading">
                        <div class="_name"><%=post.name%></div>
                        <div class="_time">#<%=post.time%></div>
                    </div>
                    <div class="image">
                        <img src="/arturoUploads/<%=post.image%>" alt=".">
                    </div> 
                </div>
            <%})%>
        </div>
        <div class="_btn">
            <a href="/arturo/arturoUpload"  class="btn">Upload Your Content <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
        </div>  
        
    </div>
<%-include("footer")-%>
