<%-include("header")-%>
    <div class="right "><h1 class="homeHeader">Vibgyor Club Welcomes You</h1>
        <div class="content">
            <h3>About Vibgyor Club</h3>
            <p>
                Let your fine artist color this website with your art.
                The Vibgyor Club is here for your to ensure your inner fine-artist gets a clear and clean platform for broadcasting their creation.
                Enter your entries with the below form and make your network stronger and find your friends with similar interests.
            </p>
            <%posts.forEach(function(post){%>
                <div class="post">
                    <div class="heading">
                        <div class="_name"><%=post.name%></div>
                        <div class="_time">#<%=post.time%></div>
                    </div>
                    <div class="image">
                        <img src="/vibgyorUploads/<%=post.image%>" alt="." style: height="300 rem">
                    </div>
                    
                </div>
            <%})%>
        </div>
        <div class="___btn"><a href="/vibgyor/vibgyorUpload" class="btn">Upload Your Content</a></div>
    </div>
<%-include("footer")-%>
