<%-include("header")-%>
    <div class="right "><h1 class="homeHeader">Vibgyor Club Welcomes You</h1>
        <div class="content">
            <h3>About Vibgyor Club</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, dolorem laboriosam cum debitis molestias autem doloribus dolore veniam ad odio. Fugit, autem dolorum? Blanditiis modi at dolorem amet numquam consequuntur.
            </p>
            <%posts.forEach(function(post){%>
                <div class="post">
                    <div class="heading">
                        <div class="_name"><%=post.name%></div>
                        <div class="_time">#<%=post.time%></div>
                    </div>
                    <div class="image">
                        <img src="/vibgyorUploads/<%=post.image%>" alt="." style: height="300 rem">
                    </div>
                    
                </div>
            <%})%>
        </div>
        <div class="___btn"><a href="/vibgyor/vibgyorUpload" class="btn">Upload Your Content</a></div>
    </div>
<%-include("footer")-%>
